.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #fff;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.item button {
  outline: none;
  cursor: pointer;
  border: 1px solid #dc2626;
  background-color: #fff;
  color: #dc2626;
  padding: 5px 10px;
  border-radius: 5px;
}

.item img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.listHeader {
  display: flex;
  margin: top 20px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.listHeader button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #009b2e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.listWrapper {
  display: flex;
  justify-content: center;
}
